
<h2>Add a Trip</h2>
<form action="/trips" method="POST">
  <p>City: <br> <input type="text" name="city"></p>
  <p>What are you interested in? <br> <input type="text" name="interests"></p>




  <p>Tell us more about you:</p>
  <input type="text" name="notes"> <br>


  <input class="btn btn-primary" type="submit" value="submit">

</form>
