<h2>Edit Your Trip</h2>

<form action="/trips/<%= @trip.id %>" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch">

  <p>City: <br> <input type="text" name="city" value="<%= @trip.city %>" />
  <p>What are you interested in? <br> <input type="text" name="interests" value="<%= @trip.interests %>"/>



  <p>Tell us more about you:</p>
  <input type="text" name="notes" value="<%= @trip.notes %>"/>


  <input class="btn btn-primary" type="submit" value="submit">
  </form>
