<% @trips.each do |trip| %>
  <%= trip.trip_name %>
<% end %>



<form method="post" action="/trips/<%=@trip.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Trip">
</form>
