<p><%= @trips.trip_name %>

<form method="post" action="/trips/<%=@trip.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Trip">
</form>

<a href="/trips/<%=@trip.id%>/edit">Edit Trip </a>
