<h1>Hello, <%=current_user(session).username%>!</h1>

<br>
<h2>View your existing trips below, or <a href ="/trips/new"> click here to create a new trip.</h2></a>

<h3>Here Are All Of Your Trips:</h3>
<br>
<% @trips.each do |trip| %>
    <li>City:<a href="/trips/<%=trip.id%>"><%= trip.city %></a></li>

<% end %>

<form method="get" action="/logout" class="text-center buttons">
			<button type="submit">Logout</button>
		</form>
