<h1>Login</h1>
<hr>
<form action="/login" method="post">
  Username: <input type="text" name="username" id="username" required default><br><br>
  Password: <input type="password" name="password" id="password" required><br><br>
  <input type="submit" value="submit">
</form>
