<h1>Welcome</h1>

<form  action="/signup" method="post">

  <label for="username">Username</login>
    <input type="text" name="username" id="username">

  <label for="email">Email</login>
    <input type="text" name="email" id="email">

  <label for="password">Password</login>
    <input type="text" name="password" id="password">

    <input type="submit">
</form>
