  	<div class="container-fluid">

<h1>Welcome</h1>

<form action="/signup" method="post">

  <label for="username">Username</login><br>
    <input type="text" name="username" id="username"><br><br>

  <label for="email">Email</login><br>
    <input type="text" name="email" id="email"><br><br>

  <label for="password">Password</login><br>
    <input type="password" name="password" id="password"><br><br>

    <input type="submit">
</form>
</div>